/* Ocupa todo el ancho de la pantalla */
#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Contenido principal con padding opcional */
main {
  padding: 2rem;
}

/* Logo */
.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
  cursor: pointer;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

/* Footer y cards opcionales */
.card {
  padding: 2em;
}